@model SOLUCAO_TCC.Models.Viewmodels.CadastroViewModel


<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body style="background-color: #E0dddd ">
    <nav class="navbar fixed-top border border-secondary border-3" style="background-color: #2b7ead">
        <div class="container-md">
            <a class="navbar-brand">
                <img src="~/Content/imgfixa/cp2logo.png" alt="Logo" width="200" height="150" class="d-inline-block align-text-top">
            </a>
            <span class="navbar-text fs-1 p-3 bg-info bg-opacity-10 border border-info rounded-end rounded-start" style="font-family:fantasy">BIBLIOTECA DO COLÉGIO PEDRO II - EN II</span>
            <button class="navbar-toggler border border-info bg-opacity-10" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar" style="height: 100px; width: 100px">
                <span class="navbar-toggler-icon" style="height: 80px; width: 80px"></span>
            </button>
            <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Você é um Funcionário!</h5>
                    <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                        Deseja Voltar para Tela Anterior?
                        <li class="nav-item d-grid gap-2">
                            <a class="btn btn-outline-info btn-lg" href="@Url.Action("CadastrarPessoa", "Cadastro")">Voltar <i class="bi bi-box-arrow-in-left"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />



    @using (Html.BeginForm("CadastrarFuncionario", "Cadastro", FormMethod.Post))
    {
        @Html.AntiForgeryToken()


        <div class="container text-center">

            <div class="row">
                <div class="col-md-8">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Matrícula:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                @Html.EditorFor(model => model.Funcionario.Matricula, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite aqui sua Matrícula:", @style = "max-width:100% ", @maxlength = "7" } })
                                @Html.ValidationMessageFor(model => model.Funcionario.Matricula, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Função:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                <select class="form-select" id="Funcionario_Funcao" name="Funcionario.Funcao">
                                    <option value="Professor">Professor(a)</option>
                                    <option value="Gestao">Gestão</option>
                                    <option value="Coordenacao">Coordenação Pedagógica</option>
                                    <option value="Multimeio">Profissional de Multimeio</option>
                                    <option value="Secretaria">Secretaria</option>
                                    <option value="Cozinha">Cozinha</option>
                                    <option value="Limpeza">Limpeza</option>
                                    <option value="Vigia">Vigia/Porteiro</option>
                                    <option value="Inspetor">Inspetor(a)</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row">
                <div class="col-6 col-md-4">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Nome:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                @Html.EditorFor(model => model.Pessoa.Nome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite aqui seu Nome:", @style = "max-width:100%; max-height: 100%;" } })
                                @Html.ValidationMessageFor(model => model.Pessoa.Nome, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Sobrenome:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                @Html.EditorFor(model => model.Pessoa.Sobrenome, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite aqui seu Sobrenome:", @style = "max-width:100%; max-height: 100%; " } })
                                @Html.ValidationMessageFor(model => model.Pessoa.Sobrenome, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-6 col-md-4">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Sexo:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                <select id="Pessoa_Sexo" name="Pessoa.Sexo" class="form-select" style="">
                                    <option value="Masculino">Masculino</option>
                                    <option value="Feminino">Feminino</option>
                                    <option value="Prefiro não dizer">Prefiro não dizer</option>
                                </select>
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-5">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Data de Nascimento:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                <label for="Pessoa.Nascimento">
                                    <input type="date" id="Pessoa_Nascimento" name="Pessoa.Nascimento" style="width:5000px; height:37px" class="" />
                                </label>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-5">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Celular:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text">
                                @Html.EditorFor(model => model.Pessoa.Celular, new { htmlAttributes = new { @class = "form-control", @placeholder = "Digite aqui seu Celular:", @style = "max-width:100%; max-height: 100%", @maxlength = "11" } })
                                @Html.ValidationMessageFor(model => model.Pessoa.Celular, "", new { @class = "text-danger" })
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="card border-success mb-3" style="max-width: 100%; background-color: #f0b1b9">
                        <div class="card-header">Registrar:</div>
                        <div class="card-body text-success">
                            <h5 class="card-title"></h5>
                            <p class="card-text d-grid gap-2">
                            <button type="button" class="btn btn-danger " data-bs-toggle="modal" data-bs-target="#staticBackdrop">
                                Confirmar <i class="bi bi-check-circle-fill"></i>
                            </button></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h1 class="modal-title fs-5" id="staticBackdropLabel">Tem certeza que esses são seus dados?</h1>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Confira se os dados digitados estão corretos!
                    </div>
                    <div class="modal-footer">
                        <p class="card-text ">
                            <button class="btn btn-danger">Confirmar <i class="bi bi-check-circle-fill"></i></button>
                        </p>

                    </div>
                </div>
            </div>
        </div>
    }
</body>
</html>
    


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
